@page "/"

<PageTitle>Introduction</PageTitle>

<article>
    <h1>Introduction</h1>

    <p>
        Welcome to the API documentation of Fantasy Helper. <br />
        Here you can read more about the functionality that's being offered but also look into the actual data in our <a href="dashboard">dashboard</a>.
    </p>

    <p>We currently offer API solutions for <a href="https://fantasy.premierleague.com/" target="_blank">Fantasy Premier League</a> and <a href="https://fantasy.allsvenskan.se/" target="_blank">Fantasy Allsvenskan</a>.</p>

    <section class="services">
        <h3>Services</h3>
        <hr />
        <div class="sub-header">
            <p>
                Except for the API's we do also offer a few services for those who can't or don't want to interact with the API's.
            </p>
            <p>
                All of our services include data such as updated player statuses and prices, predicted price changes, teams with best fixtures etc.
            </p>
        </div>
        <ul>
            <li>Email services, both daily and deadline based</li>
            <li class="coming-soon">An automated twitter account (coming soon)</li>
            <li class="coming-soon">A discord bot (coming soon)</li>
        </ul>
    </section>

    <section class="contributions">
        <h3>Contributions</h3>
        <hr />
        <p>If you want to contribute to the project you are more than welcome to do so. The source code is available at <a href="https://github.com/joakimcarlssons/FantasyHelper_v2" target="_blank">GitHub</a>.</p>
    </section>
</article>
